<!doctype html>

<html>
<head>
    <title>Topica</title>
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.1/semantic.min.css"/>
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.1/components/site.min.css"/>
    <style>
        body {
            margin: 1em;
        }
    </style>
</head>
<body>
<h1 class="ui header">Topica</h1>

<div class="ui stackable two column grid">
    <div class="column">One</div>
    <div class="column">Two</div>
</div>

</body>
</html>
